

.tutorial_bg{
    background: #ad2a86;
}
.slides{
    height: calc(100% - 200px) !important;
    padding-bottom: 20px;
}
.tutorial_logo{
    text-align: center;
    padding: 15px;
    position: relative;
    top: 20px;
    img{
        width:220px;
    }
}
.tutorial_wrapper{
    
    .tutorial_content{
        p{
            color: #606060;
            font-weight: 400;
            padding:10px;
            font-size: 16px;
            padding-bottom: 10px;
        }
    }
}
.tutorial_button{
    width:100%;
    position: absolute;
    top:0px;
    right:0px;
    left:0px;
    padding: 30px 5px;
    text-align: right;
    z-index: 9;
    .bottom_btn{
        border-radius:20px;
        padding-left: 25px;
        padding-right:25px;
        height: 30px;
        margin:0px;
    }
    .skip{
        color: #606060;
        font-weight: 800;
        border: 3px solid #ad2a86;
        background: transparent;

    }
    .continue{
        background: #ad2a86;
        color: #fff;
    }
}
.pagination{
    text-align: left;
    bottom:15px !important;
    padding: 8px;
    height: 30px;
    margin-top: 30px;

    
}
.pagination-bullet{
    margin-right:20px !important;
    height: 5px;
    width:15px;
}
.pagination-bullet-active{
    background: var(-ion-color-primary);
    width: 25px;
    border-radius: 20px;
}
